DB_ORIGEM_TYPE={{ origem.tipo }}
DB_ORIGEM_HOST={{ origem.host }}
DB_ORIGEM_PORT={{ origem.port }}
DB_ORIGEM_NAME={{ origem.database }}
DB_ORIGEM_USER={{ origem.user }}
DB_ORIGEM_PASSWORD={{ origem.password }}
DB_ORIGEM_SCHEMA={{ origem.schema }}

DB_DESTINO_TYPE={{ destino.tipo }}
DB_DESTINO_HOST={{ destino.host }}
DB_DESTINO_PORT={{ destino.port }}
DB_DESTINO_NAME={{ destino.database }}
DB_DESTINO_USER={{ destino.user }}
DB_DESTINO_PASSWORD={{ destino.password }}
DB_DESTINO_SCHEMA={{ destino.schema }}
